In [3]:
import pandas as pd

In [6]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/knn_score_Walc.csv"
knn_Walc_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_Dalc.csv"
knn_Dalc_df = pd.read_csv(csv_path)

In [10]:
summary_df = pd.concat([knn_Walc_df, knn_Dalc_df])
# summary_df = summary_df.dropna()

summary_df

C:\Users\jener\Anaconda3\envs\PythonWebMongo\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   Unnamed: 0  knn_score_Dalc  knn_score_Walc
0           0             NaN        0.276074
0           0        0.638037             NaN