In [1]:
import pandas as pd

In [2]:
# Create a reference to the CSV and import it into a Pandas DataFrame
csv_path = "Resources/knn_score_Walc_concern.csv"
knn_Walc_C_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_Dalc_concern.csv"
knn_Dalc_C_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_WalcDalc_concern.csv"
knn_WalcDalc_C_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_Walc_likelyhood.csv"
knn_Walc_L_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_Dalc_likelyhood.csv"
knn_Dalc_L_df = pd.read_csv(csv_path)
csv_path = "Resources/knn_score_WalcDalc_likelyhood.csv"
knn_WalcDalc_L_df = pd.read_csv(csv_path)
knn_WalcDalc_df = pd.read_csv(csv_path)

In [3]:
KNN_summary_df = pd.concat([knn_Walc_C_df, knn_Dalc_C_df, knn_WalcDalc_C_df, knn_Walc_L_df, knn_Dalc_L_df, knn_WalcDalc_L_df], axis=1).reindex(knn_Walc_C_df.index)
# KNN_summary_df = KNN_summary_df.drop(["Unnamed: 0"])

KNN_summary_df

,Unnamed: 0,KNN Score Binary Weekend,Unnamed: 0,KNN Score Bianry Weekday,Unnamed: 0,KNN Score Binary Combined,Unnamed: 0,KNN Score 5 Category Analysis Weekend,Unnamed: 0,KNN Score 5 Category Analysis Weekday,Unnamed: 0,KNN Score 5 Category Analysis Combined
0,0,0.601227,0,0.883436,0,0.797546,0,0.276074,0,0.638037,0,0.460123

In [4]:
KNN_summary_df.columns

Index(['Unnamed: 0', 'KNN Score Binary Weekend', 'Unnamed: 0',
       'KNN Score Bianry Weekday', 'Unnamed: 0', 'KNN Score Binary Combined',
       'Unnamed: 0', 'KNN Score 5 Category Analysis Weekend', 'Unnamed: 0',
       'KNN Score 5 Category Analysis Weekday', 'Unnamed: 0',
       'KNN Score 5 Category Analysis Combined'],
      dtype='object')

In [5]:
KNN_summary_df = KNN_summary_df.drop(['Unnamed: 0'], axis=1)
KNN_summary_df

,KNN Score Binary Weekend,KNN Score Bianry Weekday,KNN Score Binary Combined,KNN Score 5 Category Analysis Weekend,KNN Score 5 Category Analysis Weekday,KNN Score 5 Category Analysis Combined
0,0.601227,0.883436,0.797546,0.276074,0.638037,0.460123

In [6]:
KNN_summary_df.to_csv('Resources/knn_score_summary_df.csv')